<% title 'Home' %>

<input name="selector1" class="green" type="checkbox" id="selector1" value="selector1" checked="checked" /> <label for="selector1"><span></span>Selector1</label>
<input name="selector2" class="blue" type="checkbox" id="selector2" value="selector2" checked="checked" /> <label for="selector2"><span></span>Selector2</label>
<div class="temp_chart">
	&nbsp;
</div>