<div class="container">
  <div class="header">
    <div class="logo">
      &nbsp;
    </div>
  </div>
  <div class="content">
    <div class="left">
      <div class="slider"></div>
    </div>
    <div class="center">
      &nbsp;
    </div>
    <div class="right">
      &nbsp;
    </div>
  </div>
</div>
