<div class="container">
  <div class="header">
    <div class="logo">
      &nbsp;
    </div>
  </div>
  <div class="content">
    <div class="left">
      <div class="slider"></div>
      <hr>
      <div class="calendar"><input name="datepicker" type="text" class="datepicker" size="10" /></div>
      <hr>
      <div class="checkbox"><input name="checkbox" type="checkbox" id="checkbox" value="checkbox" /> <label for="checkbox">Checkbox</label></div>
      <hr>
      <div class="radio">
        <input name="radio" type="radio" id="radio1" value="radio1" /> <label for="radio1">Radio1</label>
        <input name="radio" type="radio" id="radio2" value="radio2" /> <label for="radio2">Radio2</label>
      </div>
    </div>
    <div class="center">
      &nbsp;
    </div>
    <div class="right">
      &nbsp;
    </div>
  </div>
</div>
