<% title 'Outfit stream lookup' %>

<%= content_for :full do %>
<ul id="horiz_container_outer">
	<li id="horiz_container_inner">
		<ul id="horiz_container">
			<li>
				<div class="outfit-container">
					<div class="outfit-title">
						<h2>This is my favorite spring outfit!</h2><br />
						<h3 class="bold">Mary, 24, Brooklyn</h3>
						<img src="assets/icon-profile.png" border="0" />
					</div>
					<div class="outfit-content">
						&nbsp;
					</div>
				</div>
			</li>
			<li>
				<div class="outfit-container">
					<div class="outfit-title">
						<h2>This is my favorite spring outfit!</h2><br />
						<h3 class="bold">Mary, 24, Brooklyn</h3>
						<img src="assets/icon-profile.png" border="0" />
					</div>
					<div class="outfit-content">
						&nbsp;
					</div>
				</div>
			</li>
			<li>
				<div class="outfit-container">
					<div class="outfit-title">
						<h2>This is my favorite spring outfit!</h2><br />
						<h3 class="bold">Mary, 24, Brooklyn</h3>
						<img src="assets/icon-profile.png" border="0" />
					</div>
					<div class="outfit-content">
						&nbsp;
					</div>
				</div>
			</li>
			<li>
				<div class="outfit-container">
					<div class="outfit-title">
						<h2>This is my favorite spring outfit!</h2><br />
						<h3 class="bold">Mary, 24, Brooklyn</h3>
						<img src="assets/icon-profile.png" border="0" />
					</div>
					<div class="outfit-content">
						&nbsp;
					</div>
				</div>
			</li>
			<li>
				<div class="outfit-container">
					<div class="outfit-title">
						<h2>This is my favorite spring outfit!</h2><br />
						<h3 class="bold">Mary, 24, Brooklyn</h3>
						<img src="assets/icon-profile.png" border="0" />
					</div>
					<div class="outfit-content">
						&nbsp;
					</div>
				</div>
			</li>
			<li>
				<div class="outfit-container">
					<div class="outfit-title">
						<h2>This is my favorite spring outfit!</h2><br />
						<h3 class="bold">Mary, 24, Brooklyn</h3>
						<img src="assets/icon-profile.png" border="0" />
					</div>
					<div class="outfit-content">
						&nbsp;
					</div>
				</div>
			</li>
			<li>
				<div class="outfit-container">
					<div class="outfit-title">
						<h2>This is my favorite spring outfit!</h2><br />
						<h3 class="bold">Mary, 24, Brooklyn</h3>
						<img src="assets/icon-profile.png" border="0" />
					</div>
					<div class="outfit-content">
						&nbsp;
					</div>
				</div>
			</li>
			<li>
				<div class="outfit-container">
					<div class="outfit-title">
						<h2>This is my favorite spring outfit!</h2><br />
						<h3 class="bold">Mary, 24, Brooklyn</h3>
						<img src="assets/icon-profile.png" border="0" />
					</div>
					<div class="outfit-content">
						&nbsp;
					</div>
				</div>
			</li>
			<li>
				<div class="outfit-container">
					<div class="outfit-title">
						<h2>This is my favorite spring outfit!</h2><br />
						<h3 class="bold">Mary, 24, Brooklyn</h3>
						<img src="assets/icon-profile.png" border="0" />
					</div>
					<div class="outfit-content">
						&nbsp;
					</div>
				</div>
			</li>
			<li>
				<div class="outfit-container">
					<div class="outfit-title">
						<h2>This is my favorite spring outfit!</h2><br />
						<h3 class="bold">Mary, 24, Brooklyn</h3>
						<img src="assets/icon-profile.png" border="0" />
					</div>
					<div class="outfit-content">
						&nbsp;
					</div>
				</div>
			</li>
		</ul>
	</li>		
</ul>

					
<div id="scrollbar">
	<a id="left_scroll" class="mouseover_left" href="#"></a>
	<div id="track">
	     <div id="dragBar"></div>
	</div>
	<a id="right_scroll" class="mouseover_right" href="#"></a></div>
</div>
<% end %>