<% title 'Top 25 Brands' %>
<%= content_for :half_1 do %>
	<h2>People who own my brand also own</h2>
	<div class="top-item">
		<div class="icon">
			<img src="/assets/samples/brands/levis.png" border="0" />
		</div>
		<div class="text">
			<h3>Levi's - 33% Own</h3>
		</div>
	</div>
	<div class="top-item">
		<div class="icon">
			<img src="/assets/samples/brands/levis.png" border="0" />
		</div>
		<div class="text">
			<h3>Levi's - 33% Own</h3>
		</div>
	</div>
<% end %>
<%= content_for :half_2 do %>
	<h2>People who own my brand also shop at</h2>
	<div class="top-item">
		<div class="icon">
			<img src="/assets/samples/brands/levis.png" border="0" />
		</div>
		<div class="text">
			<h3>Levi's - 33% Own</h3>
		</div>
	</div>
	<div class="top-item">
		<div class="icon">
			<img src="/assets/samples/brands/levis.png" border="0" />
		</div>
		<div class="text">
			<h3>Levi's - 33% Own</h3>
		</div>
	</div>
<% end %>