<% title 'Top 10 Colors/Patterns, Item Styles' %>
<%= content_for :third_1 do %>
	<h1>Top Colors</h1>
	<div class="top-item">
		<div class="icon">
			<img src="/assets/samples/colors/pink.png" border="0" />
		</div>
		<div class="text">
			<h3>33% Own - Pink</h3>
		</div>
	</div>

	<div class="top-item">
		<div class="icon">
			<img src="/assets/samples/colors/pink.png" border="0" />
		</div>
		<div class="text">
			<h3>33% Own - Pink</h3>
		</div>
	</div>

	<div class="top-item">
		<div class="icon">
			<img src="/assets/samples/colors/pink.png" border="0" />
		</div>
		<div class="text">
			<h3>33% Own - Pink</h3>
		</div>
	</div>

	<div class="top-item">
		<div class="icon">
			<img src="/assets/samples/colors/pink.png" border="0" />
		</div>
		<div class="text">
			<h3>33% Own - Pink</h3>
		</div>
	</div>

	<div class="top-item">
		<div class="icon">
			<img src="/assets/samples/colors/pink.png" border="0" />
		</div>
		<div class="text">
			<h3>33% Own - Pink</h3>
		</div>
	</div>

	<div class="top-item">
		<div class="icon">
			<img src="/assets/samples/colors/pink.png" border="0" />
		</div>
		<div class="text">
			<h3>33% Own - Pink</h3>
		</div>
	</div>

	<div class="top-item">
		<div class="icon">
			<img src="/assets/samples/colors/pink.png" border="0" />
		</div>
		<div class="text">
			<h3>33% Own - Pink</h3>
		</div>
	</div>

	<div class="top-item">
		<div class="icon">
			<img src="/assets/samples/colors/pink.png" border="0" />
		</div>
		<div class="text">
			<h3>33% Own - Pink</h3>
		</div>
	</div>

	<div class="top-item">
		<div class="icon">
			<img src="/assets/samples/colors/pink.png" border="0" />
		</div>
		<div class="text">
			<h3>33% Own - Pink</h3>
		</div>
	</div>

	<div class="top-item">
		<div class="icon">
			<img src="/assets/samples/colors/pink.png" border="0" />
		</div>
		<div class="text">
			<h3>33% Own - Pink</h3>
		</div>
	</div>
<% end %>
<%= content_for :third_2 do %>
	<h1>Top Patterns</h1>
	<div class="top-item">
		<div class="icon">
			<img src="/assets/samples/colors/pink.png" border="0" />
		</div>
		<div class="text">
			<h3>33% Own - Pink</h3>
		</div>
	</div>
<% end %>
<%= content_for :third_3 do %>
	<h1>Top Itemstyle</h1>
	<div class="top-item">
		<div class="icon">
			<img src="/assets/samples/colors/pink.png" border="0" />
		</div>
		<div class="text">
			<h3>33% Own - Pink</h3>
		</div>
	</div>
<% end %>