<% title 'Weather visualizations' %>

<%= content_for :half_1 do %>
<div class="medium-chart" id="weather-chart" data-json="<%= chart_path(@chart, t: Time.now.to_i) %>" data-pattern="<%= asset_path "pattern.png" %>" data-width="400" data-height="400">
  <div id="weather-placeholder" class="hide alert alert-warning">No data yet available... Try again in a few moments.</div>
  <div class="weather-y-tooltips-container">
  	<div class="weather-y-tooltips">
		<div class="weather-y-tooltip">
			<h3>Y Tooltip</h3>
		</div>
		<div class="weather-y-tooltip">
			<h3>Y Tooltip</h3>
		</div>
		<div class="weather-y-tooltip">
			<h3>Y Tooltip</h3>
		</div>
		<div class="weather-y-tooltip">
			<h3>Y Tooltip</h3>
		</div>
	</div>
  </div>
  <div class="weather-container">
	<div class="weather-box-container"><div class="weather-box"></div></div>
	<div class="weather-box-container"><div class="weather-box"></div></div>
	<div class="weather-box-container"><div class="weather-box"></div></div>
	<div class="weather-box-container"><div class="weather-box"></div></div>
	<div class="weather-box-container"><div class="weather-box"></div></div>
	<div class="weather-box-container"><div class="weather-box"></div></div>
	<div class="weather-box-container"><div class="weather-box"></div></div>
	<div class="weather-box-container"><div class="weather-box"></div></div>
	<div class="weather-box-container"><div class="weather-box"></div></div>
	<div class="weather-box-container"><div class="weather-box"></div></div>
	<div class="weather-box-container"><div class="weather-box"></div></div>
	<div class="weather-box-container"><div class="weather-box"></div></div>
	<div class="weather-box-container"><div class="weather-box"></div></div>
	<div class="weather-box-container"><div class="weather-box"></div></div>
	<div class="weather-box-container"><div class="weather-box"></div></div>
	<div class="weather-box-container"><div class="weather-box"></div></div>

	<div class="weather-x-tooltip">
		<h3>X Tooltip</h3>
	</div>
	<div class="weather-x-tooltip">
		<h3>X Tooltip</h3>
	</div>
	<div class="weather-x-tooltip">
		<h3>X Tooltip</h3>
	</div>
	<div class="weather-x-tooltip">
		<h3>X Tooltip</h3>
	</div>
  </div>
</div>
<% end %>

<%= content_for :half_2 do %>
	<div class="medium-chart-legend" id="weather-chart-legend">
		<div class="medium-chart-gradient">
			<div class="medium-chart-grid">

			</div>
		</div>
		<div class="medium-chart-text">
			123...
		</div>
	</div>
	<div class="medium-chart-pics" id="weather-chart-pics">
		<div class="weather-pic"><img src="assets/dummy/weather-pic.png" border="0" /></div>
		<div class="weather-pic"><img src="assets/dummy/weather-pic.png" border="0" /></div>
		<div class="weather-pic"><img src="assets/dummy/weather-pic.png" border="0" /></div>
		<div class="weather-pic"><img src="assets/dummy/weather-pic.png" border="0" /></div>
		<div class="weather-pic"><img src="assets/dummy/weather-pic.png" border="0" /></div>
		<div class="weather-pic"><img src="assets/dummy/weather-pic.png" border="0" /></div>
	</div>
<% end %>