$blueprint_grid_columns: 60;
$blueprint_grid_width: 10px;

$image_form_ui: "checkbox_radio";
$image_form_ui_ext: ".png";

$sprite-icons: "icons.png";

$color_background: #eeefef;
$color_blue: #2aa0b2;
$color_green: #8d9c00;
$color_orange: #e38100;
$color_purple: #460a3f;
$color_red: #9c0037;
$color_pink: #b61c52;

@mixin formStyle($x,$y,$color) {
	display:inline-block;
	width:24px;
	height:24px;
	margin:-1px 4px 0 0;
	vertical-align:middle;
	background:image-url($image_form_ui+$color+$image_form_ui_ext) $x $y no-repeat;
	cursor:pointer;
}

@mixin sprite($image, $x, $y, $w, $h, $mr) {
	background: image-url($image) no-repeat $x $y;
	width: $w;
	height: $h;
	display: block;
	float: left;
	margin-right: $mr;
}

body {
	background: image-url("background.png") repeat-x top center $color_background;
	font-family: "proxima_novaregular";
	font-size: 14px;
}

body .modal {
    width: 1150px;
    margin-left: -575px;
}

a, a:hover {
	text-decoration: none;
	color:inherit;
}

h2 {
	font-family: "proxima_novathin";
	font-size: 24px;
	color:#000000;

	&.alternate {
		font-family: "proxima_novathin";
		font-size: 18px;
		color:#2aa0b2;
	}
}

h3 {
	font-family: "proxima_novathin";
	font-size: 18px;
	color:#000000;
	margin-bottom: 5px;
}

label {display: inline;}

label {
	cursor: pointer;
}

input[type="button"],input[type="submit"] {
	border:0;
}

input[type="text"], input[type="password"], textarea {
	border:1px solid #999999;
	background:#FFFFFF;
	padding:10px 10px;
	display:block;
	color:#999999;
	font-family:"proxima_novaregular";

	.datepicker {
		font-family:"proxima_novaregular_italic";
		width:120px;
		background: image-url("calendar.png") no-repeat 110px;
	}

}

input[type="checkbox"], input[type="radio"] {
    display:none;
}

.radio, .checkbox {
  padding-left: 0px;
}

.filters input[type="checkbox"] + label, .filters input[type="radio"] + label {
    display:block;
}

//PINK

input[type="checkbox"] + label span {
	@include formStyle(-30px,-32px,"");
}

input[type="checkbox"]:checked + label span {
	@include formStyle(-30px,-5px,"");
}

input[type="radio"] + label span {
	@include formStyle(-5px,-32px,"");
}

input[type="radio"]:checked + label span {
	@include formStyle(-5px,-5px,"");
}

//GREEN

input[type="checkbox"] + label span {
	@include formStyle(-30px,-32px,"_green");
}

input.green[type="checkbox"]:checked + label span {
	@include formStyle(-30px,-5px,"_green");
}

input.green[type="radio"] + label span {
	@include formStyle(-5px,-32px,"_green");
}

input.green[type="radio"]:checked + label span {
	@include formStyle(-5px,-5px,"_green");
}

//PURPLE

input.purple[type="checkbox"] + label span {
	@include formStyle(-30px,-32px,"_purple");
}

input.purple[type="checkbox"]:checked + label span {
	@include formStyle(-30px,-5px,"_purple");
}

input.purple[type="radio"] + label span {
	@include formStyle(-5px,-32px,"_purple");
}

input.purple[type="radio"]:checked + label span {
	@include formStyle(-5px,-5px,"_purple");
}

//ORANGE

input.orange[type="checkbox"] + label span {
	@include formStyle(-30px,-32px,"_orange");
}

input.orange[type="checkbox"]:checked + label span {
	@include formStyle(-30px,-5px,"_orange");
}

input.orange[type="radio"] + label span {
	@include formStyle(-5px,-32px,"_orange");
}

input.orange[type="radio"]:checked + label span {
	@include formStyle(-5px,-5px,"_orange");
}

//BLUE

input.blue[type="checkbox"] + label span {
	@include formStyle(-30px,-32px,"_blue");
}

input.blue[type="checkbox"]:checked + label span {
	@include formStyle(-30px,-5px,"_blue");
}

input.blue[type="radio"] + label span {
	@include formStyle(-5px,-32px,"_blue");
}

input.blue[type="radio"]:checked + label span {
	@include formStyle(-5px,-5px,"_blue");
}

.bck-blue {
	background-color: $color_blue;
	color:#FFFFFF;
}
.col-blue {
	color:$color_blue;
}
.bck-green {
	background-color: $color_green;
	color:#FFFFFF;
}
.col-green {
	color:$color_green;
}
.bck-orange {
	background-color: $color_orange;
	color:#FFFFFF;
}
.col-orange {
	color:$color_orange;
}
.bck-purple {
	background-color: $color_purple;
	color:#FFFFFF;
}
.col-purple {
	color:$color_purple;
}
.bck-red {
	background-color: $color_red;
	color:#FFFFFF;
}
.col-red {
	color:$color_red;
}
.bck-pink {
	background-color: $color_pink;
	color:#FFFFFF;
}
.col-pink {
	color:$color_pink;
}

.icon-s {
	@include sprite($sprite-icons, -47px, 0, 27px, 26px, 10px);
}
.icon-seg{
	@include sprite($sprite-icons, -3px, -87px, 33px, 32px, 10px);
	margin:10px;
}
.icon-sty {
	@include sprite($sprite-icons, -43px, -87px, 36px, 32px, 10px);
	margin:10px;
}
.icon-c {
	@include sprite($sprite-icons, -94px, -85px, 39px, 36px, 10px);
	margin:10px;
}

.icon-q {
	@include sprite($sprite-icons, -5px, 0, 31px, 30px, 0px);
}
.icon-f{
	@include sprite($sprite-icons, 0, -43px, 31px, 30px, 22px);
}
.icon-l {
	@include sprite($sprite-icons, -82px, -43px, 31px, 30px, 22px);
}
.icon-e {
	@include sprite($sprite-icons, -120px, -43px, 31px, 30px, 22px);
}
.icon-d {
	@include sprite($sprite-icons, -41px, -43px, 30px, 30px, 22px);
}