//FILTERS
.filters-zone {
  @include column(58,true);
  background: #f0f0f0;
  margin-bottom: 20px;

  .title-container {
    @include column(58,true);


    .title {
      @include column(37);
      padding: 20px 0px 20px 20px;

      .title_placeholder {
        span {
          text-decoration: underline;
        }
      }
    }

    .title-buttons {
      @include column(20,true);

      .change-filters {
        @include column(8,true);

        padding: 20px 0px 20px 0px;
        border-right:1px solid #999999;
      }

      .my-saved-segments {
        @include column(12,true);

        @include background-image(linear-gradient(#ededed, #d4d4d4));
        text-align: center;
        padding: 20px 7px 20px 0px;
        border: 1px solid #CCCCCC;
        border-left: 1px solid #FFFFFF;
        cursor: pointer;
      }
    }
  }

  .filters-container {
    display: none;

    .define-your-segment{
      @include column(36,true);
      padding: 20px 20px 20px 20px;
      background:#CCCCCC;
    }

    .filter-your-results {
      @include column(20,true);
      padding: 20px 0px 20px 10px;
      background:#bdbdbd;
    }

    .segment {
      @include column(58,true);
      padding: 20px 20px 20px 20px;

      .segment-content {
        @include column(17,true);
        padding-right:20px;

        &:first-child{
          @include column(16);
          border-right: 1px solid #CCCCCC;
        }

        .filter-element {
          @include column(16,true);
          margin-bottom: 20px;
        }

        .filter-big-element {
          @include column(18,true);
          margin-bottom: 20px;

          .label-text {
            @include column(4);

            h2 {
              margin-top: 14px;
            }

            h3 {
              margin-top: 4px;
            }
          }

          .content-value {
            width: 260px;
            float: left;
            margin: 10px 0px 0px 6px;
          }

          .control-group {
            float: left;
            width: 130px;

            label {
              float: left;
              margin-right: 10px;
              width: 20px;
              margin-top: 10px;
            }
          }

          .controls {
            float: left;
            width: 100px;

            input {
              width: 100px;
            }
          }

          #who {
            float:left;
          }
        }

        .filter-small-element {
          @include column(8);
          margin-bottom: 20px;
          clear: both;

          &:after {
            content: ".";
              display: block;
              height: 0;
              clear: both;
              visibility: hidden;
          }
        }
      }
    }
    .last-segment {
      margin-left: 30px;
    }
  }

  .custom-tabs.ui-tabs{
    border: 0;
    background:none;

    .ui-tabs-nav {
      background: none;
      border: 0;
      margin:0 auto;
      float:none;
      display:table;
    }

    .ui-state-default {
      border: 1px solid #c0c0c0;
      border-left:none;
      border-radius: 0;
      @include background-image(linear-gradient(#d7d8d8, #efefef));
      margin: 0em;

      &.ui-state-active {
        background:#6db2df;
        border: 1px solid #144463;
      }

      &:first-child {
        @include border-top-left-radius(20px);
        @include border-bottom-left-radius(20px);
        border-left: 1px solid #c0c0c0;
      }

      &:last-child {
        @include border-top-right-radius(20px);
        @include border-bottom-right-radius(20px);
      }

      &:first-child, &:last-child {
        &.ui-state-active {
          background:#6db2df;
          border: 1px solid #144463;
        }
      }

      a {
        color: #093f68;
      }
    }
  }
}