//HEADER
.header {
  @include column(60,true);
  padding:0px 20px 0px 0px;

  .logo {
    @include column(10);
    background: image-url("stylitics-logo.png") no-repeat right;
    height: 60px;
    float:right;
  }
  .menu {
    @include column(50, true);
    margin-top:25px;

    i {
      height:10px;
    }
    li {
      @include background-image(linear-gradient(#3a3a3a, #1f1f1f));
      float: left;
      border: 1px solid #333333;
      border-bottom: none;
      color:#FFFFFF;
      text-transform: uppercase;
      margin-right: 10px;
      font-size: 14px;

      &:hover {
        background:#FFFFFF;
        color: #333333;
      }

      &.active {
        background:#FFFFFF;
        color: #333333;
      }

      a {
        font-family: "proxima_novalight";
        display:block;
        padding: 10px 20px;
      }
    }
  }
}