body {
	background: image-url("background.png") repeat-x top center $color_background;
	font-family: "proxima_novaregular";
	font-size: 14px;
}

a {
	text-decoration: none;
	color:inherit;
}

h2 {
	font-family: "proxima_novathin";
	font-size: 24px;
	color:#000000;

	&.alternate {
		font-family: "proxima_novathin";
		font-size: 18px;
		color:#2aa0b2;
	}
}

h3 {
	font-family: "proxima_novathin";
	font-size: 18px;
	color:#000000;
	margin-bottom: 5px;
}

.container {
	@include container;
}

.temp_03 {
	background: image-url("temp_03.png") no-repeat;
	height:500px;
}

.temp_07 {
	background: image-url("temp_07.png") no-repeat;
	height:300px;
}

.temp_chart {
	width:span(30);
	border: 2px solid #999999;
	height:400px;
	background: image-url("pattern.png");
}

.datepicker {
	border:1px solid #999999;
	background:#FFFFFF;
	width:120px;
	padding:10px 10px;
	display:block;
	color:#999999;
	font-family:"proxima_novaregular_italic";
	background: image-url("calendar.png") no-repeat 110px;
}

.header {
	@include column(60,true);
	padding:10px 20px 0px 20px;

	margin-top: 10px;
	.logo {
		@include column(26);
		background: image-url("stylitics-logo.png") no-repeat;
		height: 92px;
	}
	.menu {
		@include column(60, true);
		li {
			@include background-image(linear-gradient(#3a3a3a, #1f1f1f));
			float: left;
			border: 1px solid #333333;
			border-bottom: none;
			color:#FFFFFF;
			text-transform: uppercase;
			margin-right: 10px;
			font-size: 14px;

			&:hover {
				background:#FFFFFF;
				color: #333333;
			}

			&.active {
				background:#FFFFFF;
				color: #333333;
			}

			a {
				font-family: "proxima_novalight";
				display:block;
				padding: 10px 20px;
			}
		}
	}
}

.content {
	@include column(58,true);
	background:#FFFFFF;
	min-height:400px;
	padding:10px 20px 10px 20px;

	.left {
		@include column(13);
		background: #f0f0f0;
		padding: 10px;

		.title {
			@include column(13, true);
			margin-bottom:20px;
		}
		.filters {
			@include column(13, true);
			margin-bottom:20px;

			.filter_element {
				margin-bottom: 20px;
			}
		}
	}
	.center {
		@include column(31);
	}
	.wide {
		@include column(44);
	}
	.wide2 {
		@include column(44, true);
	}
	.right {
		@include column(13,true);
	}
}
