body {
	background: image-url("background.png") no-repeat top center #eeefef;
}

.container {
	@include container;
}

.header {
	@include column(60,true);
	padding:10px 20px 10px 20px;

	margin-top: 10px;
	height: 200px;
	.logo {
		@include column(26);
		background: image-url("stylitics-logo.png") no-repeat;
		height: 92px;
	}
}

.content {
	@include column(58,true);
	background:#FFFFFF;
	min-height:400px;
	padding:10px 20px 10px 20px;

	.left {
		@include column(12);
		background: #f0f0f0;
	}
	.center {
		@include column(34);
	}
	.right {
		@include column(12,true);
	}
}
