body {
	background: image-url("background.png") repeat-x top center $color_background;
	font-family: "proxima_novaregular";
	font-size: 14px;
}

body .modal {
    width: 1150px;
    margin-left: -575px;
}

a {
	text-decoration: none;
	color:inherit;
}

h2 {
	font-family: "proxima_novathin";
	font-size: 24px;
	color:#000000;

	&.alternate {
		font-family: "proxima_novathin";
		font-size: 18px;
		color:#2aa0b2;
	}
}

h3 {
	font-family: "proxima_novathin";
	font-size: 18px;
	color:#000000;
	margin-bottom: 5px;
}

label {display: inline;}

fieldset {
	@include column(43,true);
	border: none;
	border-top: 1px solid #CCCCCC;
	margin: 0;
	padding: 10px 0px;
}

.fieldset-left {
	@include column(14);
}

.fieldset-right {
	@include column(29, true);
	textarea {
		width: span(27);
		height: 200px;
	}
}

.container {
	@include container;
}

.temp_chart {
	width: span(30);
	// border: 2px solid #999999;
	height: 400px;
}


input[type="button"],input[type="submit"] {
	border:0;
}

input[type="text"], input[type="password"], textarea {
	border:1px solid #999999;
	background:#FFFFFF;
	padding:10px 10px;
	display:block;
	color:#999999;
	font-family:"proxima_novaregular";

	.datepicker {
		font-family:"proxima_novaregular_italic";
		width:120px;
		background: image-url("calendar.png") no-repeat 110px;
	}

}

.icon-q {
	@include sprite($sprite-icons, -5px, 0, 31px, 30px, 0px);
}
.icon-f{
	@include sprite($sprite-icons, 0, -43px, 31px, 30px, 22px);
}
.icon-l {
	@include sprite($sprite-icons, -82px, -43px, 31px, 30px, 22px);
}
.icon-e {
	@include sprite($sprite-icons, -120px, -43px, 31px, 30px, 22px);
}
.icon-d {
	@include sprite($sprite-icons, -41px, -43px, 30px, 30px, 22px);
}


.big-number {
	@include opacity(0.3);
	font-family:"proxima_novabold";
	font-size:48px;
}
.big-percent {
	@include opacity(0.3);
	font-size:24px;
}

.bar-container {
	margin-top:10px;
	width:98%;
	height:10px;
	background:#999999;
}

.bar {
	height:10px;
	background:#333333;
}

.bck-blue {
	background-color: $color_blue;
	color:#FFFFFF;
}
.bck-green {
	background-color: $color_green;
	color:#FFFFFF;
}
.bck-orange {
	background-color: $color_orange;
	color:#FFFFFF;
}
.bck-purple {
	background-color: $color_purple;
	color:#FFFFFF;
}
.bck-red {
	background-color: $color_red;
	color:#FFFFFF;
}
.bck-pink {
	background-color: $color_pink;
	color:#FFFFFF;
}

.icon-s {
	@include sprite($sprite-icons, -47px, 0, 27px, 26px, 10px);
}
.icon-seg{
	@include sprite($sprite-icons, -3px, -87px, 33px, 32px, 10px);
}
.icon-sty {
	@include sprite($sprite-icons, -43px, -87px, 36px, 32px, 10px);
}
.icon-c {
	@include sprite($sprite-icons, -94px, -85px, 39px, 36px, 10px);
}


.header {
	@include column(60,true);
	padding:10px 20px 0px 20px;

	margin-top: 10px;
	.logo {
		@include column(26);
		background: image-url("stylitics-logo.png") no-repeat;
		height: 92px;
	}
	.menu {
		@include column(60, true);
		li {
			@include background-image(linear-gradient(#3a3a3a, #1f1f1f));
			float: left;
			border: 1px solid #333333;
			border-bottom: none;
			color:#FFFFFF;
			text-transform: uppercase;
			margin-right: 10px;
			font-size: 14px;

			&:hover {
				background:#FFFFFF;
				color: #333333;
			}

			&.active {
				background:#FFFFFF;
				color: #333333;
			}

			a {
				font-family: "proxima_novalight";
				display:block;
				padding: 10px 20px;
			}
		}
	}
}

.content {
	@include column(58,true);
	background:#FFFFFF;
	min-height:400px;
	padding:10px 20px 10px 20px;

	.left {
		@include column(13);
		background: #f0f0f0;
		padding: 10px;

		.title {
			@include column(13, true);
			margin-bottom:20px;
		}
		.filters {
			@include column(13, true);
			margin-bottom:20px;

			.filter_element {
				margin-bottom: 20px;
			}
		}
	}
	.center {
		@include column(31);
	}
	.wide {
		@include column(44);
	}
	.wide2 {
		@include column(44, true);
	}
	.right {
		@include column(13,true);

		.sidebar {
			@include column(12,true);
			background: #f0f0f0;
			padding: 10px;
			margin-top: 10px;
		}
		.stats {
			@include column(6);
			text-align:center;

			&:last-child {
				@include column(6,true);
			}
		}

		.sidebar-form, .sidebar-stats {
			@include column(12,true);
			margin-top:10px;
			margin-bottom:10px;
		}

		.textarea-container {
			@include column(12,true);
			background:#cfcfcf;
			margin-top:10px;

			textarea {
				width:208px;
				border-radius:0;
			}

			.textarea-base1 {
				@include column(6,true);
				padding:4px 0 0 4px;
			}

			.textarea-base2 {
				@include column(6,true);
				float:right;
				text-align:right;
			}
		}
	}
}

.form-styled {
	background: #f0f0f0;
	padding: 10px;

	.actions {
		margin-top:20px;
	}
}

.syntaxhighlighter {
	.toolbar {
		display:none;
	}
}
