//OUTFIT STREAM
.action-outfit_stream {
  .full {
    .outfit-container {
      width: 400px;

      .outfit-title {
        text-align:center;
      }

      .outfit-content {
        margin: 0 auto;
        height: 500px;
        width: 380px;
        background: #333333;
      }
    }
  }
}