<fieldset>
  <div class="fieldset-left">
    <%= f.input :name, label: false, input_html: { placeholder: 'Name' } %>
  </div>
  <div class="fieldset-right">
    <%= f.input :code, as: :text, label: false, input_html: { placeholder: 'Code', rows: 40 } %>
  </div>
</fieldset>
