<% title 'R Scripts' %>

<div class="wide" style="text-align:right;">
	<%= link_to '+ New R Script', new_admin_r_script_path, class: "btn btn-primary" %>
</div>

<ul>
<% @r_scripts.each do |r_script| %>
  <li>
    <i class="icon-asterisk"></i><%= link_to r_script.name, [:admin, r_script] %>
  </li>
<% end %>
</ul>