@font-face {
    font-family: 'proxima_novablack';
    src: asset-url('proximanova-black.eot', font);
    src: asset-url('proximanova-black.eot?#iefix', font) format('embedded-opentype'),
         asset-url('proximanova-black.woff', font) format('woff'),
         asset-url('proximanova-black.ttf', font) format('truetype'),
         asset-url('proximanova-black.svg#proxima_novablack', font) format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'proxima_novablack_italic';
    src: asset-url('proximanova-blackit.eot', font);
    src: asset-url('proximanova-blackit.eot?#iefix', font) format('embedded-opentype'),
         asset-url('proximanova-blackit.woff', font) format('woff'),
         asset-url('proximanova-blackit.ttf', font) format('truetype'),
         asset-url('proximanova-blackit.svg#proxima_novablack_italic', font) format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'proxima_novabold';
    src: asset-url('proximanova-bold.eot', font);
    src: asset-url('proximanova-bold.eot?#iefix', font) format('embedded-opentype'),
         asset-url('proximanova-bold.woff', font) format('woff'),
         asset-url('proximanova-bold.ttf', font) format('truetype'),
         asset-url('proximanova-bold.svg#proxima_novabold', font) format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'proxima_novabold_italic';
    src: asset-url('proximanova-boldit.eot', font);
    src: asset-url('proximanova-boldit.eot?#iefix', font) format('embedded-opentype'),
         asset-url('proximanova-boldit.woff', font) format('woff'),
         asset-url('proximanova-boldit.ttf', font) format('truetype'),
         asset-url('proximanova-boldit.svg#proxima_novabold_italic', font) format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'proxima_novalight';
    src: asset-url('proximanova-light.eot', font);
    src: asset-url('proximanova-light.eot?#iefix', font) format('embedded-opentype'),
         asset-url('proximanova-light.woff', font) format('woff'),
         asset-url('proximanova-light.ttf', font) format('truetype'),
         asset-url('proximanova-light.svg#proxima_novalight', font) format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'proxima_novalight_italic';
    src: asset-url('proximanova-lightit.eot', font);
    src: asset-url('proximanova-lightit.eot?#iefix', font) format('embedded-opentype'),
         asset-url('proximanova-lightit.woff', font) format('woff'),
         asset-url('proximanova-lightit.ttf', font) format('truetype'),
         asset-url('proximanova-lightit.svg#proxima_novalight_italic', font) format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'proxima_novaregular';
    src: asset-url('proximanova-reg.eot', font);
    src: asset-url('proximanova-reg.eot?#iefix', font) format('embedded-opentype'),
         asset-url('proximanova-reg.woff', font) format('woff'),
         asset-url('proximanova-reg.ttf', font) format('truetype'),
         asset-url('proximanova-reg.svg#proxima_novaregular', font) format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'proxima_novaregular_italic';
    src: asset-url('proximanova-regit.eot', font);
    src: asset-url('proximanova-regit.eot?#iefix', font) format('embedded-opentype'),
         asset-url('proximanova-regit.woff', font) format('woff'),
         asset-url('proximanova-regit.ttf', font) format('truetype'),
         asset-url('proximanova-regit.svg#proxima_novaregular_italic', font) format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'proxima_novasemibold';
    src: asset-url('proximanova-sbold.eot', font);
    src: asset-url('proximanova-sbold.eot?#iefix', font) format('embedded-opentype'),
         asset-url('proximanova-sbold.woff', font) format('woff'),
         asset-url('proximanova-sbold.ttf', font) format('truetype'),
         asset-url('proximanova-sbold.svg#proxima_novasemibold', font) format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'proxima_novasemibold_italic';
    src: asset-url('proximanova-sboldit.eot', font);
    src: asset-url('proximanova-sboldit.eot?#iefix', font) format('embedded-opentype'),
         asset-url('proximanova-sboldit.woff', font) format('woff'),
         asset-url('proximanova-sboldit.ttf', font) format('truetype'),
         asset-url('proximanova-sboldit.svg#proxima_novasemibold_italic', font) format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'proxima_novathin';
    src: asset-url('proximanova-thin.eot', font);
    src: asset-url('proximanova-thin.eot?#iefix', font) format('embedded-opentype'),
         asset-url('proximanova-thin.woff', font) format('woff'),
         asset-url('proximanova-thin.ttf', font) format('truetype'),
         asset-url('proximanova-thin.svg#proxima_novathin', font) format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'proxima_novathin_italic';
    src: asset-url('proximanova-thinit.eot', font);
    src: asset-url('proximanova-thinit.eot?#iefix', font) format('embedded-opentype'),
         asset-url('proximanova-thinit.woff', font) format('woff'),
         asset-url('proximanova-thinit.ttf', font) format('truetype'),
         asset-url('proximanova-thinit.svg#proxima_novathin_italic', font) format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'proxima_novaextrabold';
    src: asset-url('proximanova-xbold.eot', font);
    src: asset-url('proximanova-xbold.eot?#iefix', font) format('embedded-opentype'),
         asset-url('proximanova-xbold.woff', font) format('woff'),
         asset-url('proximanova-xbold.ttf', font) format('truetype'),
         asset-url('proximanova-xbold.svg#proxima_novaextrabold', font) format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'proxima_novaextrabold_italic';
    src: asset-url('proximanova-xboldit.eot', font);
    src: asset-url('proximanova-xboldit.eot?#iefix', font) format('embedded-opentype'),
         asset-url('proximanova-xboldit.woff', font) format('woff'),
         asset-url('proximanova-xboldit.ttf', font) format('truetype'),
         asset-url('proximanova-xboldit.svg#proxima_novaextrabold_italic', font) format('svg');
    font-weight: normal;
    font-style: normal;

}